//Footer
 
footer{
    width: 100%;
    background-color: $verdeTurquesa;
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .footer__h6{
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-style: oblique;
        color: white;
        text-align: center;
    }
}
