//Quienes Somos
main{
    .qs-container{
        max-width: 85%;
        width: 100%;
    }
    .h2-qs{
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
        color: $azulOscuroH2;
        text-align: center;
        padding: 10px;
        margin-top: 50px;
    }
    .p-qs{
        font-family: 'Rubik', sans-serif;
        color: $azulOscuro;
        line-height: 1.5rem;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 40px;
        text-align: center;
    }
    .btn-qs{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .button {
            margin-top: 50px;
            width: 270px;
            height: 60px;
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            letter-spacing: none;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            background-color: $azulOscuro;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            padding: 5px;
        }
         
          .button:hover {
            background-color: $verdeTurquesa;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
         
        }
       
    }
    .section-eco{
        background-color: rgb(127, 214, 214);
        .p-eco{
            font-family: 'Rubik', sans-serif;
            font-size: 1.2rem;
            color: whitesmoke;
            margin: 50px;
            text-align: center;
            padding: 20px;
        }
    }  
}

@media(max-width: 425px){
    main{
        .como-trabajamos{
            .section-ct_text1{
                margin: 20px;
                .card1{
                    margin-left: 2.5%;
                }
            }
            .section-ct_text2{
                margin: 20px;
                .card2{
                    margin-left: 30%;
                }
            }
            .section-ct_text3{
            margin: 20px;
            .card3{
                margin-left: 60%;
                }
            }
        }
    }
}